.main_settings_window {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  .background_settings_trigger {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(5px);
  }
  .main_settings_container {
    padding: 35px 35px;
    background-color: #fff;
    border-radius: 15px;
    max-width: 400px;
    transition: all 0.3s ease;
    width: 100%;
    position: relative;
    overflow: hidden;
    z-index: 11;
    .main_list {
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        li {
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #000;
          color: #fff;
          font-weight: bold;
          cursor: pointer;
          border-radius: 5px;
          transition: all 0.3s ease;
          &:hover {
            transform: scale(0.95);
            background-color: transparent;
            color: #000;
          }
        }
      }
    }
    .change_nickname {
      .inputs_block {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
      }
      input {
        width: 100%;
        height: 40px;
        border: 2px solid #000;
        border-radius: 5px;
        background-color: transparent;
        color: #000;
        outline: none;
        padding: 0 10px;
        font-weight: bold;
      }
      button {
        width: 100%;
        height: 40px;
        font-weight: bold;
        margin-top: 10px;
        border-radius: 5px;
        border: none;
        background-color: #000;
        color: #fff;
        cursor: pointer;

        transition: all 0.3s ease;
        &:hover {
          transform: scale(0.97);
          background-color: #f0f0f0;
          color: #000;
        }
      }
    }
  }
}